#layout_4{
    padding: 60px 10px;
    display: grid;
    grid-template-columns: 1fr;
}

#lista_itens_principais{
    grid-column: 1;
}

.item_4_principal + .item_4_principal{
    margin-top: 20px;
}

.item_4_principal h2{
    font-size: 18px;
    margin-top: 5px;
}

#propaganda{
    margin: 40px 0;
    grid-column: 1;
}

#propaganda h4{
    margin-top: 5px;
}

#lista_itens_secundarios{
    grid-column: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap:20px;
    column-gap: 10px;
}

.item_4_secundario h3{
    font-size: 15px;
    margin-top: 5px;
}

@media (min-width:500px){
    .item_4_principal h2{
        font-size: 20px;
    }

    #propaganda h4, .item_4_secundario h3{
        font-size: 18px;
    }
}

@media (min-width:680px){
    #layout_4{
        grid-template-columns: repeat(3, 1fr);
        column-gap: 10px;
        row-gap: 30px;
    }

    #lista_itens_principais{
        grid-column: 1 / -1;
        display: flex;
        column-gap: 10px;
    }

    .item_4_principal + .item_4_principal{
        margin-top: 0px;
    }

    .item_4_principal h2{
        font-size: 18px;
    }

    #propaganda{
        margin-top: 0px;
        margin-bottom: 0px;
    }

    #lista_itens_secundarios{
        grid-column: 2 / -1;
    }
}

@media (min-width:800px){
    #lista_itens_secundarios{
        row-gap: 20px;
    }

    .item_4_secundario{
        display: flex;
        align-items: center;
    }

    .item_4_secundario div{
        max-width: 180px;
    }

    .item_4_secundario h3{
        margin-top: 0px;
        margin-left: 5px;
    }
}

@media (min-width:900px){
    .item_4_secundario div{
        max-width: 210px;
    }
}

@media (min-width:960px){
    #layout_4{
        max-width: 960px;
        margin: 0 auto;
        padding-left: 0px;
        padding-right: 0px;
        column-gap: 20px;
    }

    #lista_itens_principais{
        column-gap: 20px;
    }
}

@media (min-width:1000px){
    .item_4_secundario div{
        max-width: 240px;
    }
}